body {

  background-color: #344a72;
  font-family: "Roboto", sans-serif;

}
.dev{
  font-weight: bolder;
  color: aliceblue;
}

.signup-box {
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  
}

.login-box {
  width: 360px;
  height: 280px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: rgb(163, 44, 44);
  font-size: 18px;
  transition: all 300ms ease;
}

input[type="button"]:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.para-2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: -10px;
  font-weight: bold;
}

.para-2 a {
  color: #49c1a2;
}

body {
  background-image: url("/image/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.admin {
  position: relative;
  left: 100%;
  top: 200px;
  height:20%;
  border: 2px solid greenyellow;
  width: 200px;
  background-color: rgb(0, 157, 255);
  text-align: center;
  padding: 20px 20px;
  border-radius: 30px;
  clip-path: circle(10.8% at 100% 0);
  transition: all 2500ms ease;


}

.admin:hover {
  clip-path: circle(141.4% at 100% 0);
 
}

.admin form input {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  align-items: start;

}

.admin form {
  margin-left: -45px;
}

.admin h1 {
  margin-top: 20px;
}
#main_body{
   display:flex;
   width:80%;
  /* justify-content:space-evenly; */
  
  
}